<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cbc_app_poc.rokomari.rokomarians">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".Journey.JourneyActivity" />
        <activity android:name=".IdeaBox.IdeaBoxActivity" />
        <activity
            android:name=".IdeaBox.PostIdeaActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".GoodWork.GoodWorkActivity" />
        <activity android:name=".MeetMe.MeetMeActivity" />
        <activity
            android:name=".MeetMe.NewMemberActivity"
            android:label="@string/title_activity_new_member" />
        <activity android:name=".Journey.SplashJourney" />
        <activity android:name=".MeetMe.MemberListActivity" />
        <activity android:name=".GoodWork.NominateActivity" />
        <activity
            android:name=".GoodWork.PostNominateActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".Register.RegisterActivity"></activity>
        <activity android:name=".LogInActivity" />
        <activity android:name=".Profile.ProfileActivity" />
        <activity android:name=".Profile.EditProfileActivity" />
        <activity
            android:name=".HappyWall.HappyWallActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".WhatShouldIDo.WhatActivity" />
        <activity android:name=".How_r_u_feeling.FeelingsActivity" />
        <activity android:name=".GoodWork.DetailsGoodWorkActivity" />
        <activity android:name=".HappyWall.DetailsMyHappyPostActivity" />
        <activity android:name=".IdeaBox.DetailsIdeaActivity" />
        <activity android:name=".RecreationHour.RecreationListActivity" />
        <activity android:name=".RecreationHour.ParticipateCategoryActivity" />
        <activity android:name=".RecreationHour.ParticipateNowActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RecreationHour.MyRecordActivity" />
        <activity android:name=".RecreationHour.EditRecreationHourActivity" />
        <activity android:name=".HappyWall.UpdateHappyPost.UpdateHappyPostActivity" />
        <activity
            android:name=".HappyWall.DetailsSeeAll.DetailsSeeAllActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".HappyWall.LikeHappyPost.LikeResponseActivity"></activity>
    </application>

</manifest>